/* body{color: azure;} */

h1{color: #8a2be2}
.header{background-color: #deb887;
display: flex;
justify-content: space-between;}

.grid{
    background-color: #00FFBF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color: #00FFBF;
    display: flex;
    justify-content: space-evenly;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 20px;
}

.footer img{
    border: 2px solid #000000;
    border-radius: 20px;
}

a:link{color: aliceblue;}
a:visited{color: #000000;}

.menu {
    margin: 30px;
}

.item{
    position: relative;
    /* background-color: bisque; */
}

.item p{
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* .item ol{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} */

/* .item:hover p{
    transform: scale(1.2);
} */

.item:hover img{
    transform: scale(1.2);
}